/* ========= Root ========= */

:root{
  --white: #fff;
  --dark-100: #0F0F1D;
  --dark-80: #12121F;
  --dark-60: #232336;
  --magenta: #BD38C9;
}

/* ========= Reset ========= */

*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  border-radius: 0;
}

html{
  font-size: 62.5%;
}

.container{
  width: 70%;
  padding: 0 25px;
  margin: 0 auto;
}

body{
  font-size: 1.6rem;
  background: var(--dark-80);
}

/* ========= Titles ========= */

h1{
  font-weight: 700;
  font-size: 48px;
  color: var(--magenta);
}

h2{
  font-weight: 700;
  font-size: 36px;
  color: var(--magenta);
}

h3{
  font-weight: 400;
  font-size: 24px;
  color: var(--magenta);
}

a, p, button{
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
}

.tag{
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* ========= Buttons ========= */

.full a{
  font-size: 16px;
  background-color: var(--magenta);
  padding: 12px 28px;
  border-radius: 30px;
  transition-duration: 0.3s;
}

.full a:hover{
  background-color: violet;
}

.stroke a{
  font-size: 16px;
  background-color: transparent;
  padding: 12px 28px;
  border-style: solid;
  border-radius: 30px;
  border-color: var(--magenta);
  border-width: 2px;
  transition-duration: 0.3s;
}

.stroke a:hover{
  background-color: var(--magenta);
}

/* ========= Header ========= */

header{
  padding: 28px 0;
  background-color: var(--dark-80);
  color: var(--white);
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-section ul li a:hover{
  transition-duration: 0.3s;
}

.menu-section ul li a:hover{
  color: var(--magenta);
}

ul{
  display: flex;
}

ul li{
  list-style: none;
  margin-left: 25px;
}

/* ========= Intro ========= */

#intro{
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hello::before{
  content: "";
  display: flex;
  margin-right: 25px;
  height: 3px;
  width: 85px;
  background: var(--white);

}

#intro h3{
  display: flex;
  align-items: center;
  color: var(--white);
}

#intro .text h1{
  margin: 30px 0 10px 0;
}

#intro .text .buttons{
  margin-top: 65px;
}

.buttons .full{
  margin-right: 25px;
}

/* ========= protifólio ========= */

#my-portifolio{
  margin-top: 80px;
  background-color: var(--dark-100);
  padding: 80px 0;
}

#my-portifolio h2{
  text-align: center;
}

#my-portifolio h2::after{
  content: "";
  display: block;
  margin: 20px auto 80px auto;
  height: 5px;
  width: 10%;
  background: var(--white);
}

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 4rem;
  margin-bottom: 80px;  
}

.card{
  padding: 25px 25px 30px 25px;
  border-radius: 20px;
  background-color: var(--dark-80);
  width: 100%;
  transition-duration: 0.3s;
}

.card:hover{  
  background-color: var(--dark-60);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.30);
}

.img img{
  max-width: 100%;
  border-radius: 20px;
  margin-bottom: 30px;
}

.card .text h3{
  margin: 30px 0 15px 0;
}

.card .text button{  
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.card .text button a:hover{  
  transition-duration: 0.3s;
}

.card .text button a:hover{  
  color: var(--magenta);
}

#my-portifolio .container .full{
  display: flex;
  margin: 0 auto 0 auto;
}