/* ========= Root ========= */

:root{
  --white: #fff;
  --dark-100: #0F0F1D;
  --dark-80: #12121F;
  --dark-60: #232336;
  --magenta: #BD38C9;
}

/* ========= Reset ========= */

*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  border-radius: 0;
}

html{
  font-size: 62.5%;
}

.container{
  width: 70%;
  padding: 0 25px;
  margin: 0 auto;
}

body{
  font-size: 1.6rem;
  background: var(--dark-80);
}

/* ========= Titles ========= */

h1{
  font-weight: 700;
  font-size: 48px;
  color: var(--magenta);
}

h2{
  font-weight: 700;
  font-size: 36px;
  color: var(--magenta);
}

h3{
  font-weight: 400;
  font-size: 24px;
  color: var(--magenta);
}

a, p, button{
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
}

.tag{
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* ========= Buttons ========= */

.full a{
  font-size: 16px;
  background-color: var(--magenta);
  padding: 12px 28px;
  border-radius: 30px;
  transition-duration: 0.3s;
}

.full a:hover{
  background-color: violet;
}

.stroke a{
  font-size: 16px;
  background-color: transparent;
  padding: 12px 28px;
  border-style: solid;
  border-radius: 30px;
  border-color: var(--magenta);
  border-width: 2px;
  transition-duration: 0.3s;
}

.stroke a:hover{
  background-color: var(--magenta);
}

/* ========= Header ========= */

header{
  padding: 28px 0;
  background-color: var(--dark-80);
  color: var(--white);
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-section ul li a:hover{
  transition-duration: 0.3s;
}

.menu-section ul li a:hover{
  color: var(--magenta);
}

ul{
  display: flex;
}

ul li{
  list-style: none;
  margin-left: 25px;
}

/* ========= Intro ========= */

#intro{
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hello::before{
  content: "";
  display: flex;
  margin-right: 25px;
  height: 3px;
  width: 85px;
  background: var(--white);

}

#intro h3{
  display: flex;
  align-items: center;
  color: var(--white);
}

#intro .text h1{
  margin: 30px 0 10px 0;
}

#intro .text .buttons{
  margin-top: 65px;
}

.buttons .full{
  margin-right: 25px;
}

/* ========= protifólio ========= */

#my-portifolio{
  margin-top: 80px;
  background-color: var(--dark-100);
  padding: 80px 0;
}

#my-portifolio h2{
  text-align: center;
}

#my-portifolio h2::after{
  content: "";
  display: block;
  margin: 20px auto 80px auto;
  height: 5px;
  width: 135px;
  background: var(--white);
}

#my-portifolio .container .cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 4rem;
  margin-bottom: 80px;
}

#my-portifolio .container .cards .card{
  padding: 25px 25px 30px 25px;
  border-radius: 20px;
  background-color: var(--dark-80);
  width: 100%;
  transition-duration: 0.3s;
}

#my-portifolio .container .cards .card:hover{  
  background-color: var(--dark-60);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.30);
}

#my-portifolio .container .cards .card .img img{
  max-width: 100%;
  border-radius: 20px;
  margin-bottom: 30px;
}

#my-portifolio .container .cards .card .text h3{
  margin: 30px 0 15px 0;
}

#my-portifolio .container .cards .card .text button{  
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

#my-portifolio .container .cards .card .text button a:hover{  
  transition-duration: 0.3s;
}

#my-portifolio .container .cards .card .text button a:hover{  
  color: var(--magenta);
}

#my-portifolio .container .full{
  display: flex;
  margin: 0 auto 0 auto;
}

/* ========= sobre mim ========= */

#sobre-mim{
  margin: 80px auto;
  display: flex;
  align-items: center;
  gap: 135px;
}

#sobre-mim .text h2{
  margin-bottom: 20px;
}

#sobre-mim .text h2::after{
  content: "";
  display: block;
  margin: 20px 0 60px 0;
  height: 5px;
  width: 135px;
  background: var(--white);
}

#sobre-mim .text h3, p{
  margin-bottom: 20px;
}

#sobre-mim .text .buttons{
  display: flex;
  gap: 20px;
}

#sobre-mim .text cite{
  display: block;
  margin-bottom: 40px;
  font-style: italic;
  color: rgba(255, 255, 255, 0.5);
}

#sobre-mim img{
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-radius: 30px;
  border-color: var(--magenta);
}

/* ========= experience ========= */

#experience{
  padding: 80px 0;
  background-color: var(--dark-100);
}

.experiencia h2{
  text-align: center;
}

.experiencia h2::after{
  content: "";
  display: block;
  margin: 20px auto 60px auto;
  height: 5px;
  width: 135px;
  background: var(--white);
}

.experiencia .cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;  
  margin-bottom: 80px;
}

.experiencia .cards .card{
  padding: 25px;
  display: flex;
  gap: 25px;
  align-items: center;
  background-color: var(--dark-80);
  border-radius: 20px;
  transition: 0.3s;
}

.experiencia .cards .card:hover{
  background-color: var(--dark-60);  
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.30);  
}

.experiencia .cards .card h3, .experiencia .cards .card p{
  margin: 0;
}

.experiencia .cards .card .company{
  font-style: italic;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.5);
}

/* ========= ferramentas ========= */

.ferramentas h2{
  text-align: center;
}

.ferramentas h2::after{
  content: "";
  display: block;
  margin: 20px auto 60px auto;
  height: 5px;
  width: 135px;
  background: var(--white);
}

.ferramentas .img-ferramentas{
  justify-content: center;
  display: flex;
  gap: 40px;
}

.ferramentas .img-ferramentas img{
  transition: 0.3s;
  border-radius: 10px;
}

.ferramentas .img-ferramentas img:hover{
  box-shadow: 0 0 20px rgba(189, 56, 201, 0.3);
}

.ferramentas .full{
  display: block;
  margin: 80px auto 0 auto;
}

/* ========= ferramentas ========= */

#contact{
  margin: 200px auto;
  max-width: 50%;
}

#contact h1{
  text-align: center;
}

.contact{
  text-align: center;
  margin-top: 20px;
}

/* ========= footer ========= */

footer{
  padding: 38px 0;
  text-align: center;
  color: var(--white);
  background-color: var(--dark-100);
}

footer a{
  color: var(--magenta);
  transition: 0.3s;
}

footer a:hover{
  color: violet;
}